<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header.ejs') %>
    <title>PINTEREST</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about-section pt-5">
      <div class="px-5 mt-5 text-white">
        <h1>What is Pinterest?</h1>

        <p>
          Pinterest is a visual discovery engine for finding ideas like recipes,
          home and style inspiration, and more. With billions of Pins on
          Pinterest, you'll always find ideas to spark inspiration. When you
          discover Pins you love, save them to boards to keep your ideas
          organized and easy to find. You can also create Pins to share your
          ideas with other people on Pinterest. You have to meet minimum age
          requirements to sign up, and we have certain protections in place for
          teens. Learn more about teen safety on Pinterest .
        </p>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
