<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header.ejs') %>
    <title>PINTEREST</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="signup-section pt-5">
      <div class="mt-5">
        <div class="container m-4 p-5 mx-auto bg-white rounded-5" style="width: 500px;">
          <div class="p-5 pt-0 pb-0">
            <h1 class="fw-bold" style="font-size: 30px;">Welcome To Pinterest</h1>
            <p class="text-center">
              Find new ideas to try
            </p>
          <form method="post" action="/user/signup">
            <div class="mb-3">
              <label for="username" class="form-label"
                >Username</label
              >
              <input
                type="text"
                class="form-control rounded-4 bg-primary-subtle border border-dark-subtle"
                id="username"
                name="username"
                placeholder="Username"
              />
            </div>
            <div class="mb-3">
              <label for="fname" class="form-label"
                >Name</label
              >
              <input
                type="text"
                class="form-control rounded-4 bg-primary-subtle border border-dark-subtle"
                id="fname"
                name="name"
                placeholder="Full Name"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label"
                >Email</label
              >
              <input
                type="email"
                class="form-control rounded-4 bg-primary-subtle border border-dark-subtle"
                id="email"
                name="email"
                placeholder="Email Address"
              />
            </div>
            <div class="mb-3">
              <label for="password class="form-label">Password</label>
              <input
                type="password"
                name="password"
                placeholder="Password"
                class="form-control rounded-4 bg-primary-subtle border border-dark-subtle"
                id="password"
              />
            </div>
            <div class="mb-3">
              <label for="contact" class="form-label"
                >Contact Details</label
              >
              <input
                type="number"
                class="form-control rounded-4 bg-primary-subtle border border-dark-subtle"
                id="contact"
                name="contact"
                placeholder="Contact Number"
              />
            </div>
            <div class="mb-3">
              <label for="birth" class="form-label"
                >Birth Date</label
              >
              <input
                type="date"
                class="form-control rounded-4 bg-primary-subtle border border-dark-subtle"
                id="birth"
                name="birth"
                placeholder="dd/mm/yyyy"
              />
            </div>
            <button type="submit" class="btn btn-danger w-100 rounded-5">Create New Account</button>
            <div class="m-3 text-center">
              OR
            </div>
            <button type="submit" class="btn btn-primary w-100 rounded-5 mb-3">Continue with Facebook</button>
            <button type="submit" class="btn btn w-100 rounded-5 mb-3 border border-dark">Sign in with Google</button>
            <div class="mb-3 text-center">
              By continuing, you agree to Pinterest's Terms of Service and acknowledge you've read our Privacy Policy. Notice at collection
            </div>
            <hr>
            <div class="text-center">
              <a class="nav-link fw-bolder" href="/">Already a member? Log in</a>
          </div>
        </div>
      </div>
    </div>
    
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
